* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqQMwq_mZ2I9qpXPhmIeJ5on2jZTavrF65Kw&usqp=CAU);
    padding: 20px;
    text-align: center;
    color: rgb(97, 40, 54);
    height: 170px;
    background-size: cover;
    background-position: center;
}
.logo{
    margin: 0 23px;
    font-weight: 800;
    font-size: 25px;
    cursor: pointer;
}
nav ul {
    background-color: rgb(118, 44, 44);
    color: white;
    padding: 15px 2px;
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(251, 251, 251);

}

.Landing {
    height: 500px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVv_NLgONGe_Cpht4K14DOwxLEI7Yb-Qf6bw&usqp=CAU);
    background-size: cover;
    background-position: center;
    position: relative;
}

.Landing-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(250, 12, 16);
    text-align: center;
}

.content {
    padding: 50px;
    text-align: center;
}

.social-media {
    padding: 20px;
    text-align: center;
}

.social-media .fa {
        padding: 10px;
        font-size: 20px;
        width: 50px;
        text-align: center;
        text-decoration: none;
           background: #2f57ac;
            color: white;
          }
 .social-media .fa:hover {
        opacity: 0.9;
      }
      .social-media 
        .fa-twitter {
            background: #55ACEE;
            color: white;
          }
      

footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: rgb(251, 251, 251);
}

@media (max-width: 768px) {
    header, .hero, .content, .social-media, footer {
        padding: 0 20px;
    }
}